@import '../../../scss/variables.scss';

#weightsHeader {
    background-color: lighten($green, 15%);
    th {
      text-transform: uppercase;
      font-weight: bold;
      color: $white;
    }
    span {
      text-transform: none;
    }
  }

  .ub-color_696f8c {
    background-color: lighten($green, 25%)!important;
  }