@import '../../../scss/variables.scss';

#weightsHeader {
    padding-bottom: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    > span {
      text-transform: uppercase;
      color: $pink;
    }
  }