@import '../../../scss/variables.scss';

#accountSettings {
  color: $gray;
  flex-grow: 1;
  input {
    border-color: $gray!important;
  }
  input:focus {
    border-color: $pink!important;
  }
}

.collapsible-body {
  text-align: right!important;
  p {
    text-align: left!important;
  }
  input {
    font-weight: normal;
  }
}

#deleteAccount {
    margin: 2vw!important;
    background-color: #3ad8d9;
    color: white;
}
