@import '../../../scss/variables.scss';

#accountSettings {
  color: $gray;
  flex-grow: 1;
  input {
    border-color: $gray!important;
    color: $gray!important;
  }
  input:focus {
    border-color: $pink!important;
  }
}

.collapsible-body {
  text-align: right!important;
  p {
    text-align: left!important;
  }
  input {
    font-weight: normal;
  }
}


#warning-btn {
  color: $warning;
  border-color: $warning;
}