
@import '../../scss/variables.scss'; 

.goal-content {
    padding: 15px;
    margin: 0 0 0 auto;
    @media screen and (min-width: 1730px) {
        width: 50%;
    }
    #dismiss {
        background-color: $gray!important;
        color: $white!important;
        margin-top: 15px;
    }
}

