#content {
  padding: 5vw;
  width: 90%;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(22, 225, 231, 0.7);
  border-radius: 15px;
  #greeting {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    text-shadow: 3px 3px 25px white;
  }
  // button {
  //   margin: 25px auto;
  // }
  // i {
  //   padding-left: 15px;
  // }
}
