@import '../../scss/variables.scss';

#content {
  // padding: 5vw;
  // width: 90%;
  // margin: 5vh auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: $gray;
  //margin: 0 auto auto 5vw;
  @include tablet {
    border-radius: 5px;
    margin: 0 auto auto 5vw;
    min-height: 0px;
  }
  min-height: 100vh;;
  #greeting {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    text-shadow: 3px 3px 25px white;
  }
  button {
    margin:0 auto auto 0;
  }
}
