
#fancy {
  font-family: 'Caveat', cursive;
  font-size: 70px;
}

#tiny {
  font-size: 1.5rem;
  font-family: 'Caveat', cursive;
}

#features {
  padding-top: 3rem;
  i {
    margin-left: 10px;
  }

  ul {
    padding-bottom: 2rem;
    li {
      font-size: 1.25rem;
    }
  }
}

#logo-font {
  font-family: 'Libre Baskerville', serif;
  font-size: 2rem;
  padding-bottom: 15px;
}