@import '../../scss/variables.scss';

.datepicker-container {
    button {
        background-color: transparent!important;
        margin-top: 0;
        color: $gray;
        &:hover {
            background-color: transparent!important;
        }
    }
    .datepicker-date-display {
        background-color: $pink;
    }
    input {
        color: $gray;
    }
    .datepicker-table td.is-selected {
        background-color: $gray;
        button {
            color: white;
        }
    }
}

.dropdown-content li > span {
    color: $gray!important;
}

.is-disabled {
    opacity: 0.5;
}

#goal-parent {
    padding: 5vw 0;
}

#goal {
    @include desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > div {
            width: 48%;
        }
    }
}

#add-goal {
    padding: 20px 0;
    max-width: 200px;
}

.goal-item {
    transition: all .4s;
    background-color: white;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
    color: $gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    > div {
        padding: 10px;
    }
    .delete-goal {
        position: absolute;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0; 
        bottom: 0; 
        right: 0;
        height: 100%;
        background-color: $pink;
        transition: background-color .4s;
        &:hover {
            background-color: $gold;
        }
        i {
            cursor: pointer;
            color: $white;
            font-size: 20px;
        }
    }
}

.selected-goal {
    .delete-goal {
        background-color: lighten($gray, 20%);
    }
    padding: 10px;
    .completed {
        color: $white!important;
    }
}

.hidden {
    display: none;
}

#goal-weight {
    font-size: 30px;
    font-weight: bold;
    @include desktop {
        font-size: 40px;
    }
}

.incomplete {
    transition: all .5s;
    margin: 10px 0;
    color: white!important;
    background-color: $gold!important;
}

.completed {
    transition: all .5s;
    margin: 10px 0;
    color: white!important;
    background-color: $green!important;
    color: $white!important;
}
