#directUser {
  background-color: rgba(22,225,231,0.7);
  border-radius: 50px;
  padding: 2vw;
  margin: 20px auto;
  text-align: center;
  width: 90%;
}

#directUser > div > div {
  background-color: transparent;
}

#OR h2 {
  font-size: 40px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  height: 100px;
  padding: 20px;
  border-radius: 50%;
  width: 100px;
  margin: 0 auto;
}
