@import '../../scss/variables.scss';

.login {
  background-color: $gray;
  padding: 30px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  label {
    width: 100%;
  }
  @include tablet {
    min-height: 0px;
    margin: 0 auto auto 10vw;
    border-radius: 10px;
    width: 50%;
    padding: 30px 50px;
    min-height: none;
    form {
      padding: 0px;
      width: 100%;
      margin-bottom: 10px;
    }
  }
  @include desktop {
    width: 30%;
  }
}

#directUser > div > div {
  background-color: transparent;
  padding: 0;
  margin: 0 auto;
}

#OR h2 {
  font-size: 30px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  height: 100px;
  padding: 20px;
  border-radius: 50%;
  width: 100px;
  margin: 0;
}
