button {
  margin: 10px;
  padding: 15px;
  color: rgb(22, 225, 231);
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  border: 2px solid rgb(22, 225, 231);
  transition: all .4s;
  &:hover {
    color: white;
    background-color: rgba(22, 225, 231, 0.5);
    border-color: white;
  }
}

#graph .time-period button {
  display: inline-block;
  width: auto!important;
  padding: 10px;
  margin: 0 5px!important;
  &:focus {
    background-color: white;
    color: rgb(22, 225, 231);
  }
}

.button-disabled {
  opacity: 0.75;
  cursor: auto;
  &:hover {
    background-color: white;
    color: #3ad8d9;
    border-color: #3ad8d9;
  }
}
