@import '../../scss/variables.scss';

.dashboard {
  background-color: $gray;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  h4, h5, h6 {
    margin: 0px;
  }
  @include tablet {
    padding: 30px;
    margin: 0 auto 50px auto!important;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
    width: 75%;
    padding: 30px 50px;
    text-align: left;
    form {
      padding: 0px;
      width: 100%;
      margin-bottom: 10px;
    }
  }
  @include desktop {
    margin: 0 auto;
  }
}

#account-options {
  @include desktop {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    .white-box {
      width: 48%;
    }
    #accountSettings {
      width: 100%;
    }
  }
}

#center {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dashboard {
  padding-bottom: 25px;
}