@import '../../scss/variables.scss';

.dashboard {
  background-color: $gray;
  padding: 20px;
  width: 100%;
  min-height: calc(100% - 64px);
  h4, h5, h6 {
    margin: 0px;
  }
  @include tablet {
    padding: 30px 50px;
    text-align: left;
    form {
      padding: 0px;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

#account-options {
  > div {
    margin: 10px 0;
    //min-width: 250px;
  }
  @include desktop {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: no-wrap;
    justify-content: space-between;
    > div {
      width: 100%;
      margin: 0 10px;
    }
    #accountSettings {
      width: 100%;
    }
  }
}

#center {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dashboard {
  padding-bottom: 25px;
}

.dashboard-content {
  @include tablet {
    width: 70%;
    margin: 0 auto;
  }
  @include desktop {
    max-width: 850px;
  }
}