@import '../../scss/variables.scss';



#login {
    p {
        margin-top: 15px;
        padding: 10px 0;
    }
}

#no-account {
    padding-top: 15px;
    text-align: right;
}

#send-link {
    border-color: white!important;
    color: $white!important;
    i {
        margin-left: 12px;
    }
}

#no-account i {
    margin-left: 12px;
}