@import '../../../scss/variables.scss';

.modal {
    padding: 15px!important;
    .input-field {
        margin: 0 auto;
        color: $gray!important;
        margin-top: 0!important;
        width: 100%;
        @include tablet {
          max-width: 200px;
        }
    }
    a {
        background-color: $pink!important;
    }
}

.modal {
    text-align: center;
}

.modal-footer {
    text-align: center!important;
    a {
        width: 100%;
        @include tablet {
            width: auto;
        }
    }
}

#weight-logger {
    border-bottom: 2px solid white;
    margin-bottom: 25px;
    padding-bottom: 25px;
    label {
      color: $white!important;
    }
    button {
        margin-right: 10px;
    }
    i {
      margin-left:8px;
    }
    form {
      @include tablet {
        align-items: flex-start;
      }
    }
    form input {
      font-size: 20px;
      padding: 5px;
      @include desktop {
        font-size: 30px;
        width: 150px;
      }
      .input-field {
        overflow: hidden;
      }
    }
    button {
      @include desktop {
        margin: 5px;
      }
    }
  
  }

  .input-field {
    width: 100%;
  }

#modal1 {
  label {
    color: $gray-light!important;
  }
}