@import 'form';
@import 'media-queries';
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: url("https://res.cloudinary.com/djad06sng/image/upload/v1569694963/graphic-node-iLKK0eFTywU-unsplash.jpg"), rgba(232, 156, 26, 0.3);
  background-blend-mode: hard-light;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Montserrat', sans-serif;
  h1 {
    display: inline-block;
    font-family: 'Montserrat';
    color: white;
  }
  nav {
    background-color: rgba(22, 225, 231, 0.5);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

button {
  margin: 10px;
  padding: 15px;
  color: rgb(22, 225, 231);
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  border: 2px solid rgb(22, 225, 231);
  transition: all .4s;
  &:hover {
    color: white;
    background-color: rgba(22, 225, 231, 0.5);
    border-color: white;
  }
}

#content {
  padding: 5vw;
  width: 70%;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(22, 225, 231, 0.7);
  border-radius: 50px;
  button {
    margin: 25px auto;
  }
}

#fancy {
  font-family: 'Caveat', cursive;
  font-size: 70px;
}

button:focus {outline:0;}
