@import 'UI/Form';
@import 'UI/Input';
@import 'UI/Button';

@import './variables.scss';

* {
  margin: 0;
  box-sizing: border-box;
}


button:focus,
input {
  outline:0;
}

#app {
  height: 100vh;
}


body {
  background: url("../assets/scales.jpg"), rgba(232, 156, 26, 0.3);
  min-height: 100vh;
  background-blend-mode: hard-light;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  // font-family: 'Montserrat', sans-serif;
  h1 {
    display: inline-block;
    // font-family: 'Montserrat';
    color: white;
  }
  nav {
    background-color: $white;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    li {
      cursor: pointer;
    }
    i {
      height: auto;
      cursor: pointer;
      @include desktop {
        font-size: 30px;
      }
    }
    h1 {
      display: inline-block;
      font-size: 16px;
      min-width: 130px;
    }
      > div {
        display: flex;
      }
  }
  h1, h2, h3, h4, h5, h6 {
    padding: 8px 0;
    font-weight: 300;
  }
}

button:not(.btn-flat) {
  background-color: $pink!important;
  color: $white!important;
  margin-top: 15px;
  &:hover {
    background-color: lighten($pink, 5%)!important;
  }
}

label {
  color: $gray!important;
}

input,
input:focus {
  border-color: $white!important;
  box-shadow: none!important;
}
input:focus {
  border-color: $pink!important;
}

a.sidenav-trigger {
  display: block!important;
}

.sidenav {
  width: auto!important; 
  li {
    cursor: pointer!important;
    a {
      font-size: 18px;
      font-weight: 300;
      color: lighten($gray, 5%)!important;
    }
  }
}

.toast {
  background-color: $green!important;
}

.content-parent {
  background-color: $gray;
  width: 100%;
  // min-height: 100vh;
  padding: 30px;
  @include tablet {
      min-height: 0px;
      margin: 0 auto;
      border-radius: 10px;
      width: 75%;
      padding: 30px 50px;
      min-height: none;
      button {
        margin: 10px auto 0 0;
      }
    }
  @include desktop {
      width: 50%;
      max-width: 550px;
    }
}

#weight-logger .modal {
  width: 300px;
}

.spinner-layer {
  border-color: white!important;
}

.preloader-wrapper.big {
  width: 100px!important;
  height: 100px!important;
}

.white-box {
  background-color: white;
  color: $gray;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  h6 {
    margin-top: 0px;
  }
  @include desktop {
    padding: 30px;
  }
}

.modal {
  color: $gray;
  a {
    color: white;
    margin: 2px!important;
  }
  .modal-footer {
    height:auto;
  }
  input, input:focus {
    border-color: $gray-light!important;
    color: $gray;
  }
  input:focus {
    border-color: $pink!important;
  }
}

#mobile-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px)
}

.tabs {
  display: flex;
  justify-content: space-between;
  .tab {
    width: 100%;
  }
}

.tap-target {
  background-color: darken($pink, 5%);
}

.tap-target-content {
  height: 260px!important;
  width: 250px!important;
  @include desktop {
    height: 400px!important;
    width: 350px!important;
  }
}

.tap-target-wrapper {
    left: -260px!important;
    bottom: -327px!important;
    position: fixed!important;
    @include tablet {
      bottom: -450px!important;
      left: -300px!important;
    }
    @include desktop {
      bottom: -370px!important;
      left: -350px!important;
    }
}

.is-selected .datepicker-day-button {
  color: $white!important;
}