@media only screen and (min-width: 600px) {
  nav h1 {
    font-size: 30px;
  }
  body nav div {
    flex-direction: row;
  }
}

@media screen and (min-width: 800px) {
  #header {
    font-size: 22px;
  }
  #weight-history .row {
    font-size: 18px;
  }
  button {
    font-size: 25px;
  }
}

@media screen and (min-width: 900px) {
  #account-options {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    > div {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1000px) {
  #directUser {
    width: 75%;
    display: flex;
    > div {
      width: 50%;
      > div {
        width: 100%;
      }
    h1 {
      font-size: 25px;
    }
    form {
      padding: 0 10px;
    }
  }
}
  #OR {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px!important;
  }
}

@media screen and (min-width: 1200px) {
  #content {
    width: 60%;
  }
}
