

$gray: #595758;
$orange: #ffd6de;
$blue: #a5d5f3;
$tea-green: #e8ffb7;

@mixin tablet {
    @media only screen and (min-width: 650px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media only screen and (min-width: 1000px) {
      @content;
    }
  }