

$gray: #595758;
$gray-light: #949494;
$pink: #FFADBE;
$white: #F7F7F7;
$gold: #E7C088;
$green: #B6C757;
$warning: #eb7373;

@mixin tablet {
    @media only screen and (min-width: 650px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media only screen and (min-width: 1000px) {
      @content;
    }
  }