@import '../../../../../scss/variables.scss';


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px 0!important;
    border-bottom: 1px solid $gray;
    font-size: 16px;
    text-align:left;
    p {
      width: 100%;;
    }
    .right {
      text-align: right;
    }
  }